*{
    font-style: Segoe UI;

}
h2{
    margin-top: -29px;
    margin-left: 50px;
}
.dropdown-container {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    
   
  }
  .dropdown-checkbox {
    display: none;
  }
  
  .dropdown-label {
    display: block;
    padding: 10px;
    background-color:whitesmoke;
    cursor: pointer;
    border: 1px solid black; 
    border-radius: 4px; 
    overflow: hidden;
    width:1000px;
    height:30px;
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 200px;
    
    
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    
  }
  
  .dropdown-checkbox:checked ~ .dropdown-content {
    max-height: 550px; /* Adjust this value as needed */
    transition: max-height 0.3s ease;
   
  }
  
  table {
    width: 84%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 200px;
  
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: green;
    font-weight: bold;
  }

  .text-con {
    padding: 5px;
    margin-top: -5px;
    margin-left: 200px;
  }
  .dropdown-icon{
    margin-left:600px;
    margin-top: 2px;
  }
 