
/*sa nav*/
.navbar {
  overflow: hidden;
  background-color: #3b3c39;
}


.links{
/*   padding-left: 200px;*/
  padding: 10px;
}

.navbar a {
/*  float: left;*/
  font-family: Segoe UI;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 10px 80px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: #adacaa;
}
/*welcome to inayawan*/
  .container {
  position: relative;
  text-align: left;
  color: white;
}

.welcome {
  position: absolute;
  top:170px;
  left: 100px;
  font-size: 30px;
  font-family: Segoe UI;
  font-weight: bold;
}

.juan{
  position: absolute;
  top: 190px;
  left: 100px;
  font-size: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.desc{
  position: absolute;
  top: 320px;
  left: 100px;
  font-size: 20px;
  font-family: monospace;
}


.learn_more {
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Segoe UI;
  transition-duration: 0.4s;
  cursor: pointer;
}

.learn_more{
  position: absolute;
   top: 435px;
  left: 180px;
  transform: translate(-50%, -50%);
    background-color: black; 
  color: white; 
  border: 2px solid black;
  border-radius: 10px;
}

.learn_more:hover {
  background-color: #adacaa;
  border: 2px solid #adacaa;
  color: white;
}

/*sa home article*/
.home_div{
  font-family: Segoe UI;
  font-size: 25px;
  color: white;
  margin-top: 50px;
}

.home_desc{
  font-family: monospace;
  font-size: 20px;
  color: white;
}


.div_btn {
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Segoe UI;
  transition-duration: 0.4s;
  cursor: pointer;
}

.div_btn{
    background-color: black; 
  color: white; 
  border: 2px solid black;
  border-radius: 10px;
}

.div_btn:hover {
  background-color: #adacaa;
  border: 2px solid #adacaa;
  color: white;
}

.quality{
  font-size: 45px;
  text-align: center;
  font-family: Segoe UI;
  color: #1a213e;
}

.quality_desc{
  margin-top: -20px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 25px;
  text-align: center;
  font-family: Segoe UI;
  color: #1a213e;
}

.home_stats{
  color: #1a213e;
  font-family: Segoe UI;
  font-size: 30px;
}

.home_stats2{
  color: #1a213e;
  font-family: Segoe UI;
  font-size: 20px;
  margin-top: -20px;
}

.home_programs{
  width: 300px;
  height: 250px;
  display: inline-block;
  vertical-align: top; 
  background-color:white; 
  border-radius: 15px;
  transition: transform .2s;
}

.home_students{
  margin-left: 100px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  height: 250px;
  background-color:white;
  background-position: center;
  border-radius: 20px;
  transition: transform .2s;
}

.home_faculty{
  margin-left: 100px;
  width: 300px;
  display: inline-block;
  vertical-align: top; 
  height: 250px; 
  background-color:white; 
  background-position: center; 
  border-radius: 20px;
  transition: transform .2s;
}

.home_faculty:hover{
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home_programs:hover{
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home_students:hover{
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*footer*/
footer{
/*  background-color: #354092;*/
  text-align: center;
  font-family: Segoe UI;
  font-size: 15px;
  padding: 5px;
  color: #908c88;
}